.transaction__table {
  // @apply w-full;
  @apply font-san-montserrat;

  .table__header {
    .tr {
      .th {
        @apply font-bold text-xs uppercase;
        line-height: 24px;
        letter-spacing: 0.75px;
      }
    }
  }
  .table__body {
    @apply w-full #{!important};

    font-size: 14px;
    line-height: 24px;

    .cell__address {
      @apply text-secondary underline;
    }

    .tbody__tr {
      .tbody__td {
      }
    }

    div[role='row'] {
      div[rolw='cell'] {
        @apply m-auto;
      }
    }
  }
}
