.header {
  @apply flex justify-between items-center  px-4 w-full text-white;
  height: 56px;
  background: #252626;

  .header__right {
    @apply flex items-center h-full;

    .header__shop_name {
      @apply flex items-center h-full;
    }
    .header__notification {
      @apply h-full flex items-center;
      margin-left: 30px;
      margin-right: 30px;

      .header__ring_bell {
        margin-left: 35.5px;
        margin-right: 32.5px;
      }
    }
    .header__user_options {
      @apply relative cursor-pointer h-full flex items-center;

      .header__user_sub_menu {
        transform: translateY(10px);
        @apply opacity-0 invisible;
        @apply absolute right-0 top-full;
        @apply bg-white;
        @apply transition-all duration-300 ease-in-out;

        width: 170px;
        border-radius: 4px;

        box-shadow: 0px 4px 20px -10px rgba(0, 0, 0, 0.1);

        .header__link {
          @apply flex items-center gap-2;
          @apply text-dark-800 pl-4 font-semibold;
          &:not(:last-child) {
            @apply my-4;
          }
          &:last-child {
            @apply my-2;
          }

          &:hover {
            @apply text-secondary;

            svg path {
              stroke: theme('colors.secondary');
            }
          }
        }
        .line {
          border-color: #eaeaea;
        }
      }

      &:hover {
        .header__user_sub_menu {
          @apply opacity-100 visible transform translate-y-0;
        }
      }

      &:before {
        content: '';
        @apply absolute  w-1/2 h-full;
        @apply right-full;
      }
      &:after {
        content: '';
        @apply absolute  w-1/2 h-full;
        @apply left-full;
      }
    }
  }
}
